<div class="container">
    <b>child component</b>
    <div class="row">
        <div class="col">
            <button class="btn btn-danger" type="button" (click)="onBjp()">Vote Bjp</button>
        </div>
        <div class="col">
            <button class="btn btn-success" type="button" (click)="onCongrss()">Vote Congress</button>
        </div>
        <div class="col">
            <button class="btn btn-default" type="button" (click)="onJds()">Vote Jds</button>
        </div>
    </div>
</div>